*{
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 32vw;
    margin-right: 2vw;
}

.mostragem1{  
    margin-left: 500px;
    margin: 2vw 2vh; 
    padding: 2vw 2vh; 
    background-color: blueviolet;
    width: 30vw;
    height: 60vh;
}

.mostragem1 h2{
    color:  rgb(255, 153, 0);
}


#grafico1{
    padding: 2vw 2vh; 
    width: 100%;
    height: 100%;
}