.input-texts{
    display: flex;
}
.input-texts input {    
    margin-top: 2vh;
    width: 25vw;
    height: 6vh;
}

.input-texts #seletor-estado, .input-texts #seletor-tipo{
    margin-top: 4vh;
    height: 6vh;
    align-items: center;
}

.input-texts .input-um{
    margin-right: 2vw;
}

.input-texts .input-cidade{
    width: 15vw;
}

.input-texts .input-dois{
    width: 15vw;
    margin-right: 2vw;
}


.p-button.p-button-text{
    color: #F59E0B;
}

.p-button.p-button-danger{
    background: #F59E0B;
    border: #F59E0B;
}

.p-button.p-button-danger:hover{
    background: #efaa33;
    border: #F59E0B;
}
