.input-texts{
    display: flex;
}
.input-texts input{
    
    width: 25vw;
    height: 6vh;
}

.input-texts #seletor{
    margin-top: 5vh;
}


.input-texts .input-um{
    margin-top: 5vh;
    display: grid;


}

.input-texts .input-cidade{
    width: 15vw;
}

.input-texts .input-dois{
    margin-top: 5vh;
    width: 15vw;
    margin-right: 2vw;
}