.input-texts{
    display: flex;
}
.input-texts input{
    
    margin-top: 2vw;
    width: 25vw;
    height: 6vh;
}

.input-texts .input-um{
    margin-right: 2vw;
}

.input-texts .input-cidade{
    width: 15vw;
}

.input-texts .input-dois{
    width: 15vw;
    margin-right: 2vw;
}